.likes-section {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: auto;
    padding: 0.5rem;
  }
  
  .like-container,
  .dislike-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .like-icon,
  .dislike-icon {
    cursor: pointer;
    font-size: 1.25rem;
  }
  
  .like-icon.active {
    color: #3b82f6;
  }
  
  .dislike-icon.active {
    color: #ef4444;
  }
  
  .text-color {
    color: #4b5563;
  }
  