.menu-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 80%;
  justify-content: flex-end;
}

.menu-list {
  display: none;
}

@media (min-width: 640px) {
  .menu-list {
    display: flex;
  }
}

.menu-list {
  align-items: center;
  gap: 1rem;
}

.menu-list-item {
  font-weight: bold;
}

.menu-link {
  font-size: 1.125rem;
  color: #ffffff;
  transition: color 0.3s ease;
}

.menu-link:hover {
  color: #f6e05e;
}

.menu-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu-icons svg {
  color: #f6e05e;
  font-size: 1.25rem;
  cursor: pointer;
}
