.faq-container {
  width: 100%;
  height: 100vh;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
}

.faq-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.faqs {
  border-top: 1px solid #ccc;
  margin-top: 2rem;
}

.faq {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  padding: 10px 0;
  transition: background-color 0.3s ease;
}

.faq:hover {
  background-color: #f9f9f9;
}

.faq-question {
  font-weight: bold;
}

.faq-answer {
  display: none;
  padding: 10px 0;
}

.faq.open .faq-answer {
  display: block;
}
