.custom-container {
    color: #fff;
  }
  
  .custom-go-back {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-top: 2rem;
    gap: 0.5rem;
    cursor: pointer;
  }
  
  .custom-go-back:hover {
    color: #f6e05e;
  }
  
  .custom-go-back-icon {
    font-size: 1.5rem;
  }
  
  .custom-content {
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .custom-title {
    font-size: 2rem;
    font-weight: 700;
    color: #68d391;
  }
  
  .custom-author,
  .custom-text {
    color: white;
    margin-bottom: 1rem;
  }
  
  .custom-divider {
    border-top-width: 1px;
    border-color: #4a5568;
    padding-top: 1rem;
  }
  
  .custom-likes {
    color: #d2d6dc;
  }
  
  .custom-comments-title {
    font-size: 1.25rem;
    margin-top: 1.5rem;
  }
  