.read-topics-container {
    width: 100%;
    padding: 8px 4px;
    height: 100%;
    color: white;
  }
  
  .letter-theme {
    color: #fff;
  }
  
  .prev-button,
  .next-button {
    background-color: #fbbf24;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: #f9ca48;
  }
  